body { 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg, #ffad81, #ff81b1);
}

.container {
    display: flex;
    flex-direction: column; /* Cambia esto para apilar elementos verticalmente */
    align-items: center; /* Centra los elementos en el eje horizontal */
    text-align: center; /* Centra el texto */
}

button {
    padding: 10px 20px;
    font-size: 25px;
    background-color: white;
    color: pink;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}

.geo-logo {
    width: 75px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Centra el logo y agrega un margen inferior */
}

.dancing-script {
  font-family: "Dancing Script", cursive;
}

h3 {
    color: white;
    font-size: 30px;
}
